vectorStore
prometheus 
redisData 
letsencrypt 
grafana 
db 
backupDB
jenkins-dockerfile 
JenkinsFile
mongo_init 
jenkins
portainer_data
backup
traefik_conf
.env 
.env_dev 
docker-compose-dev.yaml 
docker-compose-log.yaml 
docker-compose-update.yaml 
docker-compose.yaml 
Dockerfile 
generate_network.sh 
buildImage.sh 
createServer.sh 
